.DS_Store
export/*
public/*
source/styleguide/*
vendor/*
node_modules/*
/tests/visual-regression/html_report/*
!/tests/visual-regression/html_report/.gitkeep
/tests/visual-regression/bitmaps_test/*
!/tests/visual-regression/bitmaps_test/.gitkeep
