.DS_Store
export/*
public/*
source/styleguide/*
source/stylesheets/style.css
vendor/*
node_modules/*
.tmp/*
/tests/visual-regression/html_report/*
!/tests/visual-regression/html_report/.gitkeep
/tests/visual-regression/bitmaps_test/*
!/tests/visual-regression/bitmaps_test/.gitkeep
