// Key Colors
//

$color__white: #fff;
$color__black: #333;
$color__gray: #6d6d6d;
$color__gray-light: #d9d9d9;

// Type
//

$color__body-copy: $color__black !default;
$color__link-gray: $color__gray !default;

// UI
//

$color__body-background: $color__black !default;
$color__header-background: $color__white !default;
$color__header-border: $color__gray-light !default;
$color__button-bg--primary: $color__gray-light !default;
$color__button-text--primary: $color__black !default;
