.btn {
  @include font-size(medium);
  font-weight: $font-weight--normal;
  color: #fff;
  background-color: #444;
  border: 2px solid transparent;
  padding: .5rem .75rem;

  &:hover {
    background-color: lighten(#444, 20%);
    cursor: pointer;
  }

  &:disabled {
    color: #ccc;
    background-color: #aaa;
    cursor: not-allowed;

    &:hover {
      background-color: #aaa;
    }
  }
}

.btn--primary {
  background-color: $color__button-bg--primary;
  color: $color__button-text--primary;

  &:hover {
    background-color: lighten($color__button-bg--primary, 10%);
  }
}
